{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'jual/bootstrap.min.css' %}">

    <title>Jual.com</title>
  </head>
  <body>

    <h1>Welcome to Jual.com</h1>
    <div class="well">
        Presiden : Mbah REM 
        CEO : Rido
    </div>

    <div class="well">
        <img src="{% static 'jual/girl.jpg' %}" alt="My image"/>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jual/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'jual/popper.min.js' %}"></script>
    <script src="{% static 'jual/bootstrap.min.js' %}"></script>
  </body>
</html>